@charset "utf-8";

/*Colors Collect*/

:root {
  --red: #f5027c;
  --orange: #ff8800;
  --yellow: #ffee00;
  --green: #00cc0a;
  --blue: #09b1ff;
  --purple: #c100f1;
  --white: #ffffff;
  --black: #000000;
}
